services:
  ticket-embedding-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: ticket-embedding-api:1.0-cuda
    ports:
      - 8081:8000
    volumes:
      - ./database:/opt/aiops/database
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]